/*STYLE SHEET FOR INDEX.HTML --- HANGMAN GAME*/

#emptyCurrentWord{
	letter-spacing: 2px;
}
#ESPN{
	width: 25em;

}
.navbar-light{
	font-size: 70px;
	font-family: 'Anton', sans-serif;
/*	color: #eb0b19;*/
	padding: 0;
	text-align: center;
	margin-bottom: 15px;
}
.row{
	margin-bottom: 20px;
}
.maindiv{
	font-size: 25px;
}
.redText{
	color:#eb0b19;
}